.addtofavorites-container {
    display: flex;
    flex-direction: row;
    padding-left: 0.5rem;
}


.addtofavorites-button {
    display: flex;
    font-size: 14px;
    color: #E99543;
    cursor: pointer;
    background: #232425;
    border: none;
    margin: 5px 0px 0px 6px; 
}

.addtofavorites-button:hover {
    font-weight: bold;
}

.addtofavorites-button #heart {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #E99543;
    margin-left: 5px;
}
