 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }

  html {
    background-color: #232425
  }

  .home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #232425;
    padding: 0 70px;
    
  }

  .image-container {
    display: flex;
    width: 100%;
    align-content: flex-end;
    justify-content: center;
  }
 

  .backgroung-image {
    margin-top: 100px;
    width: 300px;
    height: 300px;
  }

 
 



  



