.movie {
    max-width: 220px;
    display: flex;
    margin: 1rem;
    flex-direction: column;
}

.image {
    cursor: pointer;
    width: 220px;
    height: 300px;
}

.poster:hover + .titleBox{
    border-top: 1.5px solid #E99543;
    border-bottom: 1.5px solid #E99543;
}

.titleBox {
    min-height: 45px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #E99543;
    border-bottom: 1px solid #E99543;
}

.movieTitle {
    flex-wrap: wrap;
    font-size: 13px;
    color: white;
    margin-right: 2px;
}

#heart {
    cursor: pointer;
    font-size: 1.5rem;
    color: #E99543;

}


