.movie {
    max-width: 220px;
    display: flex;
    margin: 1.5rem 1rem 0.3rem 1rem;
    flex-direction: column;
}

.image {
    cursor: pointer;
    width: 220px;
    height: 300px;
    padding: 5px 0px;
   
}

.image:hover {
    border-bottom: 1.5px solid white;
}

.movieTitle {
    flex-wrap: wrap;
    font-size: 14px;
    color: white;
    margin-right: 2px;
}



