.searchContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #232425;
    padding-top: 50px;
    padding-bottom: 30px;

}

.searchBox {
   background-color: transparent;
   border: 1.5px solid white;
   border-radius: 50px;
   font-size: 1rem;
   padding: 10px 30px;
   color: white;
}

.searchBox:focus {
    outline: 0;
}