.container {
    display: flex;
}

.image {
    justify-content: left;
    width: 350px;
    height: 450px;
    margin: 30px;
}

.info {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.title {
    font-size: 22px;
    font-weight: 600;
    color: white;
}

h5 {
    font-size: 22px;
    color: white;
}

span {
    font-size: 22px;
    color: white;
}



