.movie {
    margin: 1rem;
    border: 1px solid transparent;
    cursor: pointer;
}

.movie:hover {
    border-bottom: 1px solid #dedede;
}

img {
    width: 220px;
    height: 300px;

}

h3 {
    max-width: 220px;
    font-size: 13px;
    color: white;
}


