 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }

  .home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #232425;
    padding: 0 70px;
  
  }



  



